<%-include('./base/header.ejs') %>
<div class="container">
  <div class="alert bg-success my-3">
    <h1 class="text-center" style="color: white">User List</h1>
  </div>
</div>
<div class="container">
  <table class="table text-center">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>

        <!-- <th>Roll No</th> -->
      </tr>
    </thead>
    <% users.forEach((use)=>{%>
    <tr>
      <!-- <td><%=user.rollNo%></td> -->
      <td><%=use.firstName%></td>
      <td><%=use.lastName%></td>
      <td><%=use.phone%></td>
      <td><%=use.email%></td>
      <td><%=use.status%></td>

      <!-- <% if (use.userType==1) { %> -->
      <td>
        <a href="/user/edit/show/<%= user._id %>" class="btn btn-warning w-75"
          >Edit</a
        >
      </td>

      <td>
        <a href="/user/delete/<%= user._id %>" class="btn btn-warning w-75"
          >Delete</a
        >
      </td>
      <!-- <% } else { %> <% } %> -->
    </tr>

    <% }) %>
  </table>
</div>

<%-include('./base/footer.ejs') %>
