<%- include ('./base/header.ejs') %>
<div class="container">
  <div class="alert bg-success my-3">
    <h4 class="text-center" style="color: white">Edit user</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form action="/user/update/<%=user._id %>" method="post">
        <!-- <div class="field my-3">
          <label for="" class="form-label">Roll No</label>
          <input
            type="text"
            class="form-control"
            name="rollNo"
            value="<%= user.rollNo %>"
          />
        </div> -->
        <div class="field my-3">
          <label for="" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            value="<%= user.firstName %>"
          />
        </div>
        <div class="field my-3">
          <label for="" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            value="<%= user.lastName %>"
          />
        </div>
        <div class="field my-3">
          <label for="" class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            name="phone"
            value="<%= user.phone %>"
          />
        </div>
        <div class="field my-3">
          <label for="" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            value="<%= user.email %>"
          />
        </div>
        <input
          type="submit"
          value="Update"
          class="btn btn-warning my-3 w-100"
        />
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<%- include ('./base/footer.ejs') %>
